<div class="dialog-container">
  <div *ngIf="product" class="dialog-details-container">
    <img class="dialog-pic" [src]="productImageUrl + product.imageName" />
    <br />
    <div class="details-container">
      <b>{{ product.name }}</b>
      <p>מחיר: {{ product.price }}₪</p>
      <small>קטגוריה {{ product.category.name }}</small> <br />
      <div *ngIf="!isAdmin && cart" class="quantity-container">
        <b> כמות: </b>
        <mat-icon class="icon" (click)="decrementItem()">−</mat-icon>
        <small> {{ quantity }}</small>
        <mat-icon class="icon" (click)="incrementItem()">+</mat-icon>
      </div>
    </div>
  </div>

  <div *ngIf="!isAdmin" mat-dialog-actions class="mat-actions">
    <button mat-button mat-dialog-close>סגור</button>
    <button mat-button mat-dialog-close *ngIf="cart" (click)="addProductToCart()">הוסף לעגלה</button>
    <div *ngIf="!cart">
      <button mat-button mat-dialog-close routerLink="./home"> לך לעגלה! </button>
    </div>
  </div>
</div>