<div>
  <h2>הרשמה</h2>

  <div class="register-container">
    <div class="box pre-register">
      <p>שלב #1</p>
      <form (ngSubmit)="checkUserId()" #formInfo="ngForm">
        <mat-form-field floatLabel="never" color="primary">
          <label> אימיל : </label>
          <input type="email" name="email" [(ngModel)]="user.email" [disabled]="stepOneOk == true" required
            minlength="4" maxlength="100" #emailBox="ngModel" matInput />
          <mat-error *ngIf="emailBox.touched && emailBox.errors?.['required']">חסר מייל</mat-error>
          <mat-error *ngIf="emailBox.touched && emailBox.errors?.['maxlength']">מייל קצר מידי</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" color="primary">
          <label>תעודת זהות:</label>
          <input type="string" name="userId" [(ngModel)]="user.userId" [disabled]="stepOneOk == true" required
            minlength="7" maxlength="14" #userIdBox="ngModel" matInput />
          <mat-error *ngIf="(userIdBox.touched) && userIdBox.errors?.['required']">חסר מספר ת.ז </mat-error>
          <mat-error *ngIf="(userIdBox.touched) && userIdBox.errors?.['minlength']">ת.ז קצרה מידי</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" color="primary">
          <label>סיסמא: </label>
          <input type="password" name="password" [(ngModel)]="user.password" [disabled]="stepOneOk == true" required
            minlength="4" maxlength="20" #passwordBox="ngModel" matInput placeholder="password" autocomplete="false" />
          <mat-error *ngIf="passwordBox.touched && passwordBox.errors?.['required']">חסר סיסמא</mat-error>
          <mat-error *ngIf="passwordBox.touched && passwordBox.errors?.['minlength']">סיסמא קצרה מידי</mat-error>
        </mat-form-field>

        <button [disabled]="stepOneOk" mat-raised-button [disabled]="formInfo.invalid"> להמשיך </button>
      </form>
    </div>

    <!-- ----------------------------------------------------------- -->

    <div *ngIf="stepOneOk" class="box register">
      <p>שלב #2</p>
      <form (ngSubmit)="submit()">
        <mat-form-field floatLabel="never" color="primary">
          <label>שם פרטי: </label>
          <input type="text" name="firstName" [(ngModel)]="user.firstName" required minlength="2" maxlength="50"
            #firstNameBox="ngModel" matInput />
          <mat-error *ngIf="(firstNameBox.touched) && firstNameBox.errors?.['required']">חסר שם פרטי</mat-error>
          <mat-error *ngIf="(firstNameBox.touched) && firstNameBox.errors?.['minlength']">שם קצר מידי</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" color="primary">
          <label>שם משפחה: </label>
          <input type="text" name="lastName" [(ngModel)]="user.lastName" required minlength="2" maxlength="50"
            #lastNameBox="ngModel" matInput />
          <mat-error *ngIf="(lastNameBox.touched) && lastNameBox.errors?.['required']">חסר שם משפחה</mat-error>
          <mat-error *ngIf="(lastNameBox.touched) && lastNameBox.errors?.['minlength']">שם משפחה קצר מידי</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" color="primary">
          <mat-select placeholder="בחר עיר" [(ngModel)]="user.city" name="city" required #cityBox="ngModel">
            <mat-option disabled>בחר עיר</mat-option>
            <mat-option *ngFor="let c of cities" [value]="c.city">{{ c.city }}</mat-option>
          </mat-select>

          <mat-error *ngIf="(cityBox.touched) && cityBox.errors?.['required']">השלם עיר</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" color="primary">
          <label>רחוב: </label>
          <input type="text" name="username" [(ngModel)]="user.street" required minlength="2" maxlength="50"
            #streetBox="ngModel" matInput />
          <mat-error *ngIf="(streetBox.touched) && streetBox.errors?.['required']">השלם רחוב</mat-error>
          <mat-error *ngIf="(streetBox.touched) && streetBox.errors?.['minlength']">רחוב קצר מידי</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" color="primary">
          <label>אשר סיסמא: </label>
          <input type="password" name="password" [(ngModel)]="confirmPassword" minlength="4" maxlength="20"
            #confirmPasswordBox="ngModel" matInput />
          <mat-error *ngIf="confirmPasswordBox.touched && confirmPasswordBox.errors?.['required']">השלם סיסמא</mat-error>
          <mat-error *ngIf="confirmPasswordBox.touched && confirmPasswordBox.errors?.['minlength']">סיסמא קצרה מידי</mat-error>
        </mat-form-field>

        <button mat-raised-button>הירשם</button>
      </form>
    </div>
  </div>

  <div>
    <small>רשום כבר ? </small>
    <a class="auth-btn" routerLink="/login"> התחברוות </a>
  </div>
</div>
<button mat-raised-button routerLink="../home">
  <mat-icon>arrow_back_ios</mat-icon>
  חזור
</button>