<div class="home">
    <div>
      <p>
       שלום ל<strong>קניות בכיף!</strong><br />
        זהו אתר בו תוכל לבצע הזמנות עד הבית בלחיצת קליק! <br />
        הדרך הכי קלה לבצע קניות  <br />
        קניה ראשונה 10% הנחה על כל המוצרים
      </p>
    <div>
      <img
        class="image"
        src="../../../../assets/images/shopping.jpeg"
        alt="shopping"
      />
    </div>
    <!-- Not-Logged-In -->
    <div *ngIf="!user">
      <p>שלום חבר, על מנת לקבל שירות עליך להיות מחובר!</p>
      <div>
        <button mat-raised-button routerLink="/login">כניסה</button>
        <br>
        <br>
        <button mat-raised-button routerLink="/register">הרשמה</button>
      </div>
    </div>

    <!-- ADMIN -->
    <div *ngIf="user && user.isAdmin">
      <p>שלום מנהל</p>
      <div>
        <button mat-raised-button routerLink="/admin">דף מנהל</button>
      </div>
    </div>

    <!-- USER -->
    <div *ngIf="user && !user.isAdmin">
      <strong>
        שלום {{ user.firstName }},<br />
        הינך מחובר
      </strong>

      <!-- First time shop. -->
      <div *ngIf="!cart && !checkout && !user.isAdmin">
        <p>שלום! התחל את הרכישה הראשונה שלך </p>
        <button (click)="createCart()" mat-raised-button routerLink="../products">עגלה חדשה</button>
      </div>

      <!-- Been here before. -->
      <div *ngIf="!cart && checkout && !user.isAdmin">
        <button (click)="createCart()" mat-raised-button routerLink="../products">עגלה חדשה</button>
      </div>

      <div *ngIf="cart">
        <p>יש לך עגלה פתוחה</p>
        <button mat-raised-button routerLink="../products">להמשך קנייה</button>
      </div>
    </div>
</div>
