/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(177, 227, 177), rgb(190, 231, 190));
  text-align: center;
  color: green;

}

a {
  color: black;
}

