<div class="cart-items-container">
  <b>עגלת הקניות שלך.</b>
  <hr />
  <div class="items-container">
    <mat-progress-bar *ngIf="!cartItems" mode="buffer" color="accent" strokeWidth="1"></mat-progress-bar>
    <app-cart-item-card *ngFor="let item of cartItems" [cartItem]="item"></app-cart-item-card>
  </div>
  <hr />

  <div class="total-price">
  </div>
  <button mat-raised-button routerLink="../cart/checkout"> לתשלום </button>
  <br />
  <button mat-raised-button (click)="removeAllItemsFromCart()"> מחק את כל הפריטים</button>
</div>