<div class="search-container">
  <button mat-raised-button routerLink="../../products">
    <mat-icon></mat-icon>
    בחזרה למוצרים
  </button>
</div>

<div class="order-container">
  <div class="order-form-details">
    <form (ngSubmit)="submitPayment($event)" #checkoutFormInfo="ngForm">
      <h3>פרטי משלוח -</h3>
      <mat-form-field floatLabel="never" color="primary">
        <mat-select placeholder="בחר עיר" [(ngModel)]="shippingCity" name="city" required #cityBox="ngModel">
          <mat-option *ngFor="let c of cities" [value]="c.city">{{ c.city }}</mat-option>
        </mat-select>
        <mat-error *ngIf="(cityBox.touched) && cityBox.errors?.['required']">חסר עיר</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="never" color="primary">
        <input matInput type="string" name="street" placeholder="רחוב" [(ngModel)]="shippingStreet" required
          minlength="1" maxlength="100" #streetBox="ngModel" />
        <mat-error *ngIf="streetBox.touched && streetBox.errors?.['required']">חסר רחוב</mat-error>
        <mat-error *ngIf="streetBox.touched && streetBox.errors?.['minlength']">רחוב קצר מידי</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="never" color="primary">
        <input matInput type="number" name="creditCard" placeholder="מספר כרטיס אשראי" [(ngModel)]="creditCardNumber"
          required #creditCardBox="ngModel" />
        <mat-error *ngIf="creditCardBox.touched && creditCardBox.errors?.['required']">חסר כרטיס אשראי</mat-error>
        <mat-error *ngIf="creditCardBox.touched && creditCardBox.errors?.['pattern']">מספר כרטיס האשראי אינו תקף
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="never" color="primary">
        <input (dateChange)="checkDate($event.value)" matInput [matDatepicker]="picker"
          placeholder="בחר תאריך משלוח" required name="shippingDate" [(ngModel)]="shippingDate" #dateBox="ngModel"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dateBox.touched && dateBox.errors?.['required']">חסר תאריך</mat-error>
      </mat-form-field>

      <button mat-raised-button [disabled]="checkoutFormInfo.invalid || badShippingDate">
        שלח.
      </button>
    </form>
  </div>
</div>